* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Hide scrollbar for Firefox */
html {
    scrollbar-width: none;    
}

/* Hide scrollbar for Chrome, Safari, Edge */
::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for Internet Explorer */
body {
    -ms-overflow-style: none;
}

header{
    position: fixed; 
    top: 0;
    width: 100%;
    
}
main{
    height: 800px;
    height: 800px;width: 100%;width: 100%;
    margin-top:67vh; 
    position: sticky;
    z-index: 2;
    background-color: white;
}
footer{
    position: sticky;
    z-index: 2;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 18px 30px;
    height: 70px;
}

.mainlogo {
    margin-top: 10px;
    margin-left: 11px;
    width: 43px;
    height: 43px;
    background-image: url('logo.png'); /* Default image */
    background-size:cover;
}

.getin{
    margin-left: 10px;
    margin-top: 10px;
    background-color: #DBFF00;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 123px;
    height: 35px;
    border-color:black ;
    font-size: 14px;
    width:120px;

}

.getin:hover{
    background-color: black;
    border: 2px solid white;
    color: white;
    transition:linear background-color 0.5s;
    
}
.right-box {
    
    width: 250px;
    height: 40px;
    background-color:black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.menuicon{
    margin-right: 5px;
    padding: 4px;
    margin-top: 8px;
    font-size: 50px;
    font-weight: 100;
    color:white;
    padding-bottom: 10px;
}
.menuicon:hover{
    color:  #e9fe2b;
    
}
.heading{
    height: 51vh;
    background-color: black;
    /* border: 2px solid white; */
    display: flex;
    flex-direction: column;
    letter-spacing: -0.7px;
    line-height: .9;
    padding: 10px;

}
.Digital{
    margin: 10px;
    margin-top: 0px;
    margin-left: 40px;
    color: white;
    font-family: Aeonikpro, sans-serif;
        font-size: 93px;
        font-weight: 400;
}
.experiences{
    display: inline-block;
    margin-top: 8px;
    margin-left: 40px;
    color: white;
    font-family: Aeonikpro, sans-serif;
        font-size: 93px;
        font-weight: 400;
        margin-right: 40px;
        margin-bottom: 16px;
        
}
.title-line {
    display: inline-block;
    width: 51%;        
    height: 1px;      
    background-color: grey; 
    margin: 20px ;   
    margin-left: 20px;
    margin-right: 19px;
}

.WinBy{

    color: white;
    margin-right: 50px;
    font-size: 93px;
        font-weight: 400;
        font-family: Aeonikpro, sans-serif;
        text-align: end;
}
sup{
    vertical-align: top;
    top: -5px;
    font-size: 0.2em; 
    letter-spacing: -1px;
    font-family:monospace;
    
}

.CheckOut{
    display: inline-block;
    color: white;
    font-size: 0.9em;
    margin-top: 5px; 
    font-family:monospace;
}
.arrow{
    transform: scaleX(2); /* Stretch width */;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    display: inline-block;
    color: white;
    padding-bottom: 5px;
    width: 15px;
    margin-top: 0px;
}
.headerEnd{
    height: 52px;
     background-color: black;
     display: flex;
     justify-content:end;
}
.headerRightBox{
    width: 170px;
    display: flex;
    justify-content: space-around;
    margin-right: 50px;
}

.left-footer-box{
    width: 50%;
    background-color: black;
    height: 770px;color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid grey;
    border-left: none;
    padding: 40px 0px;
    border-bottom: none;
}
.left-heading{
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    font-weight: 400;
    margin: 0px 0px 16px;
}
.left-para{
    
    font-size: 15px;
}
.left-para{
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 548px;
    line-height: 23px;
}
.footer-image{
    margin: 70px;
    margin-top: 60px;
    margin-bottom: 60px;
    background-image: url(footer-icon.png);
    width: 260px;
    height: 260px;
    background-size: cover;
}
.email{
    border-style: none solid solid none;
    border-width: 0 0 1px 1px;
    border-color: black black rgb(75, 75, 75);
    background-color: black;
    width: 70%;
}
.email:hover{
    border-color: black black rgb(202, 202, 202);
}
input[type="email"]:focus{
    outline: none;
    border-style: none solid solid none;
    border-width: 0 0 1px 1px;
    border-color: black black rgb(202, 202, 202);
    
}

input {
    color: white;
    padding: 15px 0;
    font-size: 16px;
 }
  
input::placeholder {
    color: rgb(181, 180, 180);
    font-size: 16px;
}
.subscribe{
    border: 1px solid rgb(185, 185, 185);
    border-radius: 20px;
    background-color: black;
    width: 130px;
    height: 40px;
    margin-top: 40px;
    color: white;;
    font-family: Aeonikpro, sans-serif;
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 2px;
}
.subscribe:hover{
    background-color: white;
    color: black;
}
.right-footer-box{
    background-color: rgb(0, 0, 0);
    width: 50%;
    height: 770px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 1px solid grey;
    font-family: Aeonikpro, sans-serif;
    border-left: none;
    border-right: none;
}

.footer-content{
    font-size: 33px;
    font-weight: 400;
    padding: 24px 30px ;
    color: white;
    cursor: pointer;
    border: 1px solid grey;
    border-style: none none solid none;
}
.footer-links{
    padding: 16px 25px ;
    display: flex;    
    justify-content: space-between;
}
.footer-content:hover{
    background-color: white;
    color: black;
    transition:linear background-color 1s;
}
.footer-circle{
    height: 42px;
    width: 42px;
    border: 1px solid grey;
    border-radius: 50%;
    padding: 8px;
    margin-right: 22px;
    display: inline-block;
}
.linkedin-logo{
    border-radius: 80px;
    height: 25px;
    width: 25px;
}
.insta-logo{
    border-radius: 80px;
    height: 22px;
    width: 22px;
    margin-left: 2px;
    margin-top: 2px;
}
.privacy-policy{
    font-size: 17px;
    color: gray;
    font-family: Aeonikpro, sans-serif;
    margin-top: 10px;
}